body {
    background-color:skyblue;
}

.Webtitle {
    background-color:white;
    text-align:center;
    font-size:64px;
}

.Navigationbar {
    background-color:white;
    text-align:center;
    font-size:34px;
}

img 